@import url('./modal.css');
@import url('./tooltip.css');
@import url('./responsive.css');

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  background-color: #333;
  font-family: monospace;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;

    h1 {
      padding: 10px;
      margin: 0;
    }
  }
}

.textarea-container {
  width: 600px;
  height: 400px;
  padding: 22px 22px;
  background-color: #444;
  border-radius: 22px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  &:focus-within {
    border: 1px solid #fff;
  }
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: monospace;
  font-size: larger;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 8px 0 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #333;
    border-radius: 22px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 22px;
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 451px;
  padding: 12px;
  background-color: #444;
  color: #fff;
  text-align: center;
  border-radius: 22px;

  .words-count-container {
    width: 100%;
    height: auto;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    font-size: larger;
    border-radius: 10px;
    cursor: default;
    overflow: hidden;
    transition: all 0.3s ease;

    h2 {
      margin: 0;
    }

    span {
      margin-left: 4px;
      font-size: 24px;
    }

    &:hover {
      background-color: #555;
    }
  }

  footer {
    display: flex;
    gap: 10px;

    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      background-color: #555;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #666;
      }
    }
  }
}